*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1440px;
    padding: 0 100px;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kablammo:MORF@7&family=Nosifer&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.header{
    background: #F3D7B7;
    padding: 30px;
    position: fixed;
    width: 100%;
    z-index: 12;
}

.cofe{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto", serif;
}


.coffeeroasters{
    display: flex;
    align-items: center;
}

.tags{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.block{
    background: #F3D7B7;
    font-family: "Roboto", serif;
    height: 700px;
}

.block .container{
    max-width: 100%;
    padding: 0 100px;
    margin: 0 auto;
}


.img__cofe{
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}

.good-cofe h1{
    line-height: 60px;
}

.good-cofe p{
    line-height: 20px;
    font-size: 13px;
    padding-top: 50px;
}

.tags a:hover{
    color: #0A775F;
    transform: scale(1.1);
}

.tags a{
    text-decoration: none;
    color: black;
}

.good-cofe button{
    background: #0A775F;
    width: 193px;
    height: 51px;
    margin-top: 70px;
    border-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.good-cofe button:hover{
    transform: scale(1.1);
}


.firs__cofe{
    position: relative;
}

.lacte{
    position: absolute;
    right: 0px;
    top: 200px;
}

.alfred{
    position: absolute;
    bottom: 400px;
    left: 700px;
    animation-name: alfredo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes alfredo {
    0%{
        transform: rotate(720deg);
        transition: all 5s ease-in-out;
}
    50%{
        transition: all 10s ease-in-out;
    }

    100%{
        transition: all 15s ease-in-out;
    }
}

footer{
    background: #F3D7B7;
}

.img__parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    font-family: "Roboto", serif;
}

.tag{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: 30px;
}

.tag p:hover{
    color: #0A775F;
    transform: scale(1.1);
}


.title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


